@page
@model boutaburger.Pages.Orders.CustomBeefModel
@{

    <form method="post" class="mx-auto mt-10 mb-10 px-5 pt-5 rounded-5 bg-light col-12 chasm">

<div style="display: inline-block;" class="text-left">
    <img src="~/images/beefCakeBurger.webp"
         width="450"
         height="450"
         class="chasm" />
</div>

<div style="display: inline-block; margin-left: 100px;" class="text-center">
    <h4>BeefCake Burger     $5.29</h4>
            <h5>
                <b>What's on it: </b><br />
                Large Bun, Large Beef<br />
                Patty, Lettuce (Regular),<br />
                Tomato (Regular), Onion<br />
                (Regular), Bacon (Regular),<br />
                Pickles (Regular),<br />
                Sauteed Garlic (Regular),<br />
                boutaburger Sauce </h5>
</div>

<div class="text-center container">


    <label for="LettuceSlider" class="bigger-text">Lettuce:</label>
    <input type="range" asp-for="beefburger.Lettuce" id="LettuceSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('LettuceSlider', 'LettuceDisplay')">
            <span id="LettuceDisplay" class="bigger-text" asp-for="beefburger.Lettuce">Regular</span>
    <br/>

    <label for="TomatoSlider" class="bigger-text">Tomato:</label>
    <input type="range" id="TomatoSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('TomatoSlider', 'TomatoDisplay')">
    <span id="TomatoDisplay" class="bigger-text" asp-for="beefburger.Tomato">Regular</span>
    <br />

    <label for="OnionSlider" class="bigger-text">Onion:</label>
    <input type="range" id="OnionSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('OnionSlider', 'OnionDisplay')">
        <span id="OnionDisplay" class="bigger-text" asp-for="beefburger.Onion">Regular</span>
    <br />

    <label for="BaconSlider" class="bigger-text">Bacon:</label>
    <input type="range" id="BaconSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('BaconSlider', 'BaconDisplay')">
        <span id="BaconDisplay" class="bigger-text" asp-for="beefburger.Bacon">Regular</span>
    <br />

    <label for="PickleSlider" class="bigger-text">Pickles:</label>
    <input type="range" id="PickleSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('PickleSlider', 'PickleDisplay')">
        <span id="PickleDisplay" class="bigger-text" asp-for="beefburger.Pickles">Regular</span>
    <br />

    <label for="sauteedGarlicSlider" class="bigger-text">Sauteed Garlic:</label>
    <input type="range" id="sauteedGarlicSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('sauteedGarlicSlider', 'sauteedGarlicDisplay')">
        <span id="sauteedGarlicDisplay" class="bigger-text" asp-for="beefburger.sauteedGarlic">Regular</span>
    <br />

    <label for="boutaburgerSauceSlider" class="bigger-text">boutaburger Sauce:</label>
    <input type="range" id="boutaburgerSauceSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('boutaburgerSauceSlider', 'boutaburgerSauceDisplay')">
        <span id="boutaburgerSauceDisplay" class="bigger-text" asp-for="beefburger.boutaburgerSauce">Regular</span>
    <br />

    <script>
        function updateDisplay(sliderId, displayId) {
            var sliderValue = document.getElementById(sliderId).value;
            var display = document.getElementById(displayId);

            switch (sliderValue) {
                case '0':
                    display.textContent = 'None';
                    break;
                case '1':
                    display.textContent = 'Regular';
                    break;
                case '2':
                    display.textContent = 'Extra';
                    break;
                default:
                    display.textContent = 'Regular';
            }
        }
    </script>

    <button class="btn btn-primary mt-1" type="submit">Add to Order</button>
    
</div>
</form>
}