@page
@model boutaburger.Pages.Orders.CustomBrownieModel
@{

    <form method="post" class="mx-auto mt-10 mb-10 px-5 pt-5 rounded-5 bg-light col-12 chasm">
    <div style="display: inline-block;" class="text-left">
        <img src="~/images/brownie.jpg"
             width="450"
             height="450"
             class="chasm" />
    </div>

    <div style="display: inline-block; margin-left: 100px;" class="text-center">
        <h3>Brownie     $1.64</h3>
        <h4>
            <b>What's on it: </b> Brownie
        </h4>
        <br />
    </div>
        <button class="btn btn-primary mt-1" type="submit">Add to Order</button>
    </form>
}
