@page
@model boutaburger.Pages.Orders.CustomCookieModel
@{

    <form method="post" class="mx-auto mt-10 mb-10 px-5 pt-5 rounded-5 bg-light col-12 chasm">
    <div style="display: inline-block;" class="text-left">
        <img src="~/images/cookie.jpg"
             width="450"
             height="450"
             class="chasm" />
    </div>

    <div style="display: inline-block; margin-left: 100px;" class="text-center">
        <h3>Cookie     $1.15</h3>
        <h4>
            <b>What's on it: </b> <br/>
            Chocolate Chip Cookie<br/>
        </h4>
        <br />
            <button class="btn btn-primary mt-1" type="submit">Add to Order</button>
    </div>
    </form>
}
