@page
@model boutaburger.Pages.Orders.CustomShakesModel
@{

    <form method="post" class="mx-auto mt-10 mb-10 px-5 pt-5 rounded-5 bg-light col-12 chasm">
    <div style="display: inline-block;" class="text-left">
        <img src="~/images/shake.png"
             width="450"
             height="450"
             class="chasm" />
    </div>

    <div style="display: inline-block; margin-left: 100px;" class="text-center">
        <h3>MilkShake     $4.23</h3>
        <h4>
            <b>What's on it: </b> MilkShake
        </h4>
        <br />
    </div>

    <div class="text-center container">
        <label for="flavorSlider" class="bigger-text">Flavor:</label>
        <input type="range" id="flavorSlider" min="0" max="2" step="1" value="1" oninput="updateBeverage('flavorSlider', 'flavorDisplay')">
        <span id="flavorDisplay" class="bigger-text">Vanilla</span>
        <br />

        <label for="sizeSlider" class="bigger-text">Size:</label>
        <input type="range" id="sizeSlider" min="0" max="2" step="1" value="1" oninput="updateDisplay('sizeSlider', 'sizeDisplay')">
        <span id="sizeDisplay" class="bigger-text">Medium</span>
        <br />

        <script>
            function updateDisplay(sliderId, displayId) {
                var sliderValue = document.getElementById(sliderId).value;
                var display = document.getElementById(displayId);

                switch (sliderValue) {
                    case '0':
                        display.textContent = 'Small';
                        break;
                    case '1':
                        display.textContent = 'Medium';
                        break;
                    case '2':
                        display.textContent = 'Large';
                        break;
                    default:
                        display.textContent = 'Medium';
                }
            }
        </script>

        <script>
            function updateBeverage(sliderId, displayId) {
                var sliderValue = document.getElementById(sliderId).value;
                var display = document.getElementById(displayId);

                switch (sliderValue) {
                    case '0':
                        display.textContent = 'Strawberry';
                        break;
                    case '1':
                        display.textContent = 'Vanilla';
                        break;
                    case '2':
                        display.textContent = 'Chocolate';
                        break;
                    default:
                        display.textContent = 'Vanilla';
                }
            }
        </script>
            <button class="btn btn-primary mt-1" type="submit">Add to Order</button>
    </div>

    </form>
}
