@page
@model boutaburger.Pages.addMenuModel
@{
    var message = ViewData["Message"]?.ToString();
}
<form method="post">
    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="addMenuItem.Name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" asp-for="addMenuItem.Price" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="addMenuItem.Description" />
    </div>

    <div class="mb-3">
        <label class="form-label">Pics</label>
        <input type="file" class="form-control" asp-for="addMenuItem.Pics" />
    </div>

    <div class="mb-3">
        <button type="Submit" class="btn btn-primary">Save</button>
    </div>
</form>