html {

    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: darkgray;
    //background: repeating-linear-gradient( 90deg, darkgray, darkgray 10px, #A7F1A7 10px, #A7F1A7 20px);
}

header {
    background-color: #A7F1A7;
    padding: 35px;
}

.menuGreySpace {
    background: grey;
    margin-bottom: 0;
}

.chasm {
    margin-top: 40px;
}
.menuImage {
    height: 200px;

}

.bigger-text {
    font-size: 20px;
}

.chachaSlide {
    margin-right: 20px;
}

label[aria-checked="true"] {
    color: black;
}

label[aria-checked="false"] {
    color: grey;
}

.unclickable {
    pointer-events: none;
}

