@page
@model boutaburger.Pages.AboutModel
@{
    <div class="text-center">
        <h1> About Us</h1>
        <h3>Created in 2023 for an assignment we made this company</h3>
        <br>
        <h3>there isnt much to say about us</h3>
        <br />
        <h3>If you'd like to contact us over something please email us at <a href="mailto:boutAburger@gmail.com">boutAburger@gmail.com</a></h3>
    </div>




}