@page
@model boutaburger.Pages.burgerModel
@{
    <div class="text-center">
        <h1> Burger </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomGooda">
                            <img src="~/images/as_gooda_as_it_gets.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">As Gooda as it Gets Burger</h3>
                    </div>
                </div>
            </div>
            
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomBeef">
                            <img src="~/images/beefCakeBurger.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">BeefCake Burger</h3>
                    </div>
                </div>
            </div>
     
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomCheddar">
                            <img src="~/images/cheddarLateThanNever.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Cheddar Late Than Never</h3>
                    </div>
                </div>
            </div>
  
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomSlaw">
                            <img src="~/images/iFoughtTheSlawBurger.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;"> I Fought the Slaw</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomMelting">
                            <img src="~/images/imMelting.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">I'm Melting</h3>
                    </div>
                </div>
            </div>
      
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomSoul">
                            <img src="~/images/sellYourSoulBurger.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Sell Yout Soul Burger</h3>
                    </div>
                    
                </div>
            </div>
     
            <div class="col-4 mb-6">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomSlider?burgerType=slipNslider">
                            <img src="~/images/slipNslider.jpg" class="w-100 menuImage" />
                        </a>

                        <h3 style="text-align:center;">Slip n Slider</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
}
