@page
@model boutaburger.Pages.dessertModel
@{
    <div class="text-center">
        <h1> Dessert </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomBrookie">
                            <img src="~/images/brookie.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Brookie</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomBrownie">
                            <img src="~/images/brownie.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Brownie</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomCookie">
                            <img src="~/images/cookie.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Cookie</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
