@page
@model boutaburger.Pages.drinksModel
@{
    <div class="text-center">
        <h1> Drinks and MilkShakes </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomPop">
                            <img src="~/images/pop.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Fountain Drinks</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomTea">
                            <img src="~/images/tea.png" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Tea</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomShakes">
                            <img src="~/images/shake.png" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">MilkShakes</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
