@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/BOUTABURGER (1).png"
    alt="Image of a burger with peppers"
        width="1000"
        height="500"/>
</div>

<div class="text-center">
    <img src="~/images/Add a subheading.png"
    alt="Image saying to sign up for rewards points"
         width="1000"
         height="500"/>
</div>

<div class="text-center">
    <img src="~/images/milkshak.png" 
    alt="Picture of a bunch of milkshakes for $$$"
         width="1000"
         height="500"/>
</div>
