@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div style="display: inline-block;" class="text-left">
    <a href="/Menu">
        <img src="~/images/App.png"
             alt="Image of a burger with peppers"
             width="500"
             height="500"
             class="chasm"/>
    </a>
</div>

<div style="display: inline-block; margin-left: 110px;" class="text-center">
    <h2 style="font-family: 'MV Boli'; color:black;">
        <br>
        <b> Sign up now</b><br>
        <b>and start earning points</b><br>
        <b>towards future</b><br>
        <b>orders and</b><br>
        <b>merch for</b><br>
        <b>the whole family</b><br>
        <b>to enjoy</b><br>
    </h2>
</div>

<div class="text-center">
    <img src="~/images/Add a subheading.png"
    alt="Image saying to sign up for rewards points"
         width="1000"
         height="500"/>
</div>

<div class="text-center">
    <img src="~/images/milkshak.png" 
    alt="Picture of a bunch of milkshakes for $$$"
         width="1000"
         height="500"/>
</div>
