@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy is very important to us. We're like fightclub you see, dont talk about us.
    When logging in to place an order we will be selling your data and information to third parties.
    Your data that you give us we will be analyzing to make our website more like the lotus flowers and 
    Lotus-eaters in Greek Mythology. 
    If you feel like you really have to contact us you can email us at boutAburger@gmail.com I can not 
    say you will get a response and it is possible if the complaint is good enough we will use the email
    for our weekly team building activity of making fun of our customers.
    By clicking on to the website you agree to all of this.</p>
