@page
@model boutaburger.Pages.RewardsModel
@{
    <h1>Rewards</h1>

    
<div class ="unclickable">
    <div class="container">
        <div class="row">
            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomBeef">
                            <img src="~/images/beefCakeBurger.webp" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Burger</h3>
                    <h3 style="text-align:center;">450 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomShakes">
                            <img src="~/images/shake.png" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">MilkShake</h3>
                    <h3 style="text-align:center;">350 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomPop">
                            <img src="~/images/pop.jpg" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Fountain Drink</h3>
                    <h3 style="text-align:center;">300 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomRings">
                            <img src="~/images/ringsOFonion.jpg" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Onion Rings</h3>
                    <h3 style="text-align:center;">250 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomFries">
                            <img src="~/images/fries.jpg" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Fries</h3>
                    <h3 style="text-align:center;">250 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomBrownie">
                            <img src="~/images/brownie.jpeg" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Brownie</h3>
                    <h3 style="text-align:center;">200 Points</h3>
                </div>
            </div>

            <div class="col-3 mb-5">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomCookie">
                            <img src="~/images/cookie.jpg" class="w-100 menuImage" />
                        </a>
                    </div>
                    <h3 style="text-align:center;">Cookie</h3>
                    <h3 style="text-align:center;">200 Points</h3>
                </div>
            </div>
        </div>
    </div>
</div>
}
