@page
@model boutaburger.Pages.SecretOrderModel
@{
}

<h3>Secret Orders</h3>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Burger Name
            </th>
            <th>
                Burger Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var secretorder in Model.BurgerOrders)
        {
            <tr>
                <td>
                    @secretorder.Id
                </td>
                <td>
                    @secretorder.BurgerName
                </td>
                <td>
                    @secretorder.BasePrice
                </td>
            </tr>
        }
       
    </tbody>
</table>