@page
@model boutaburger.Pages.sidesModel
@{
    <div class="text-center">
        <h1> Sides </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomFries">
                            <img src="~/images/fries.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">French Fries</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                    <a href="/Orders/CustomRings">
                            <img src="~/images/ringsOFonion.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Onion Rings</h3>
                    </div>
                </div>
            </div>

            <div class="col-4 mb-4">
                <div class="w-100 row menuGreySpace">
                    <div class="menuGreySpace">
                        <a href="/Orders/CustomSticks">
                            <img src="~/images/mozzerlaSticks.jpg" class="w-100 menuImage" />
                        </a>
                        <h3 style="text-align:center;">Mozzarella Sticks</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
