@page
@model boutaburger.Pages.Start_OrderModel
@{
     <form method="post" class="mx-auto mt-6 mb-6 px-5 pt-5 rounded-5 bg-light col-4 chasm">

        <div class="tab">
            <button class="tablinks" onclick="showTab(webLog, 'SignUp')">Sign Up</button>
        </div>
        <div class="container">

            <div id="SignUp" class="tabcontent">
                <input type="text" placeholder="First Name" name="firstName" required> <br/>
                <br />
                <input type="text" placeholder="Last Name" name="lastName" required><br />
                <br />
                <input type="text" placeholder="Phone Number" name="phone" required><br />
                <br />
                <input type="text" placeholder="Enter Email" name="email" required><br />
                <br />
                <input type="text" placeholder="User Name" name="user" required><br />
                <br />
                <input type="password" placeholder="Enter Password" name="psw" required><br />
                <br />
                <div class="clearfix">
                    <button type="submit" onclick="submitForm('SignUp')" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </div>
     </form>
}
